<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">

<!-- <servlet>
<servlet-name>firstservlet</servlet-name>
<servlet-class>AddServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>firstservlet</servlet-name>
<url-pattern>/add</url-pattern>
</servlet-mapping>
  
<servlet>
<servlet-name>secondservlet</servlet-name>
<servlet-class>SquareServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>secondservlet</servlet-name>
<url-pattern>/square</url-pattern>
</servlet-mapping>
  
  
<servlet>
<servlet-name>thirdservlet</servlet-name>
<servlet-class>GenericServlet</servlet-class>

<init-param>
<param-name>name</param-name>
<param-value>Shetty</param-value>
</init-param>
</servlet>

<servlet-mapping>
<servlet-name>thirdservlet</servlet-name>
<url-pattern>/home</url-pattern>
</servlet-mapping>

 <context-param>
 <param-name>name</param-name>
 <param-value>Sangeetha</param-value>
 </context-param>
 
 <context-param>
 <param-name>phone</param-name>
 <param-value>iPhone</param-value>
 </context-param> -->
 
</web-app>